.body{
    background-color: skyblue;
    height:714px;
    pointer-events: none;
}
body{
    width:1485px;
}
.cloud{
    color:white;
    text-shadow: 10px 10px 20px;
}
.cloud .bx{
    font-size:120px;
}
#n1{
    margin-left:90px;
    animation:infinite 3s cloud1
}
#n2{
    margin-left:100px;
    animation:infinite 4s cloud
}
#n3{
    margin-left:30px;
    animation:infinite 6s cloud1
}
#n4{
    margin-left:20px;
    animation:infinite 5s cloud
}
#n5{
    margin-left:60px;
    animation:infinite 4s cloud1
}

#n6{
    margin-left:90px;
    animation:infinite 9s cloud1
}
#n7{    
    margin-top:-20px;
    margin-left:100px;
    animation:infinite 12s cloud
}

@keyframes cloud1{
    0%{
        opacity: 0.1;
    }
    40%{
        margin-top:20px;
        opacity: 0.8
    }
    70%{
        margin-top:-100px
    }
    100%{
        opacity: 0.1;
        margin-left:89%
    }
}
@keyframes cloud{
    0%{
        opacity: 0.1;
    }
    40%{
        margin-top:-80px;
    }
    70%{
        opacity: 0.0;
        margin-top:80px;
        opacity: 0.8
    }
    100%{
        opacity: 0;
        margin-left:93%
    }
}
#plane{
    font-size:170px;
    color:#28a745;
    text-shadow:1px 1px 10px black;
    animation: plane infinite 60s
}
@keyframes plane{
    0%{
        margin-top:300px;
        margin-left:23%;
    }
    50%{
        transform: rotate(45deg);
        margin-left:40%;
        margin-top:50px;

    }
    100%{
        margin-top:300px;
        margin-left:70%;
        transform: rotate(90deg);
    }
}
.registration{
    margin-top: -550px;
    margin-left:500px;
    width:400px;
    height:450px;
    border-radius:5px;
    backdrop-filter: blur(20px);
    text-align: center;
    padding-top: 20px;
    box-shadow: 10px 10px 30px rgb(0, 68, 90);
    transition:0.5s
}
.registration:hover{
    border-radius:25px;
}
input{
    transition: 0.5s;
}
input:hover{
    border-radius: 40px;
}
label{
    cursor:pointer
}
input{
    cursor:pointer;
    width:260px;
    height:40px;
    border-radius:10px;
    padding-left:20px;
    font-size: medium;
    border-style:none;
    transition: 0.5s;
}

input:hover{
    border-radius:30px;
    background-color:rgb(37, 255, 73);
    border-style:double
}
.bx{
    font-size:x-large
}
input[type=submit]{
    width:90px;
    height:40px;
    border-radius:10px;
    border-style:none;
    font-weight: 600;
    font-size:14px;
    padding-left:10px
}
input[type=submit]:hover{
    background-color: rgb(69, 255, 55);
    width:120px;
    border-style:double
}
#name, #surname{
    width:120px
} 
.bx, .fi{
    font-size:30px;
    margin-right:10px;
}
#number{
    width:50px;

}
