container {
    display: flex;
    background-color: #f0f8f8;
    min-height: 100vh;
}

.sidebar {
    width: 300px;
    padding: 20px;
    background-color: #eaf5f5;
}
.sidebar h2 {
    color: #00a86b;
    font-size: 24px;
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.filter-section label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-top: 15px;
}

.filter-section input, 
.filter-section select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.price-range input {
    width: 45%;
    padding: 8px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-button {
    width: 100%;
    padding: 10px;
    background-color: #00a86b;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #008c59;
}

.content {
    flex: 1;
    padding: 20px;
}

.tour-card {
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tour-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.tour-details {
    padding: 15px;
    flex: 1;
}

.tour-details h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.tour-details p {
    color: #777;
    font-size: 14px;
    margin-bottom: 5px;
}

.tour-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #00a86b;
}

.status-button {
    padding: 8px 15px;
    background-color: #00a86b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.status-button:hover {
    background-color: #008c59;
}

h1{
    color:green
}