#n1{
    list-style-type: disc;
    list-style-position: inside;
}
#n2{
    list-style-type: decimal-leading-zero;
}
#n3{
    list-style-type: circle;
}
ol li{
    list-style-image: url(./Screenshot\ 2024-11-09\ 224805.png);
}
#n5{
    list-style-type: lower-greek;
}